@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.stepNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  gap: 32px;
}
