@use "sass:color";
@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.btn {
	@include lead4;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 16px 32px;
	border-radius: $radius-md;
	width: fit-content;
	max-width: 100%;
	font-weight: 500;
	transition: background-color 0.15s ease, color 0.15s ease;

	@media(max-width: $screen-mobile-max) {
		padding: 12px 20px;
	}

	&:disabled {
		opacity: 0.5;
	}

	&.primary {
		background-color: $primary;
		color: $white;

		&:not(:disabled):hover {
			background-color: color.adjust($primary, $lightness: -6%);
		}
	}

	&.secondary {
		background-color: $secondary;
		color: $secondary-dark;

		&:not(:disabled):hover {
			background-color: $quintarny;
		}
	}
}

.icon {
	display: flex;
	flex-shrink: 0;
}
