@use "../styles/variables" as *;
@use "../styles/typography" as *;

.wrapper {
	padding: 20px 0;

	@media(max-width: $screen-desktop-max) {
		padding: 0;
	}
}

.section {
	display: flex;
	justify-content: space-between;
	gap: 80px;

	@media(max-width: $screen-large-max) {
		gap: 40px;
	}

	@media(max-width: $screen-desktop-max) {
		gap: 0;
	}
}

.content {
	display: flex;
	flex-direction: column;
	gap: 40px;
	max-width: 660px;
	padding: 40px 0;

	@media(max-width: $screen-desktop-max) {
		max-width: 100%;
		padding: 30px;
	}

	@media(max-width: $screen-mobile-max) {
		padding: 15px 0;
	}
}

.leadImage {
	height: 100%;
	object-fit: cover;
	border-radius: $radius-xl;

	@media(max-width: $screen-desktop-max) {
		display: none;
	}
}
