@use "../styles/variables" as *;
@use "../styles/typography" as *;

.main {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 20px 0;

  @media (max-width: $screen-desktop-max) {
    padding: 0;
  }
}

.section {
  display: flex;
  flex: 1;
  justify-content: space-between;
  gap: 80px;

  @media (max-width: $screen-large-max) {
    gap: 40px;
  }

  @media (max-width: $screen-desktop-max) {
    gap: 0;
  }
}

.column {
  display: flex;
  flex-direction: column;
}

.footerWrapper {
  margin-top: auto;
  padding-top: 40px;
}

.leadImage {
  height: 100%;
  object-fit: cover;
  border-radius: $radius-xl;

  @media (max-width: $screen-desktop-max) {
    display: none;
  }
}
