@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.sectionDiv {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.sectionTitle {
	@include headingLead3;
}

.title {
	@include headingLead1;
}
