@use "../../styles/variables" as *;
@use "../../styles/typography" as *;

.sectionDiv {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  @include heading-lead-3;
}

.title {
  @include heading-lead-1;
}
